/website/website/.idea/modules.xml
/.ipynb_checkpoints
/website/website/.idea/misc.xml
/hki_peruspiirit_osa_alueet.geojson
/geocode_data.csv
/website/website/.idea/inspectionProfiles/profiles_settings.xml
/website/website/.idea/workspace.xml
